button{
    border:none;
    border-radius: 1vh;
    color:hsl(237, 63%, 64%);   
    width: 40vh; 
    height:5.5vh;
    font-size: 1.9vh;
    letter-spacing: 2px;
    margin: 3vh 3vh;
}

button:active{
    margin:4vh 0 0 3.5vh;
}

button:hover{
    background-image:linear-gradient(350deg, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    cursor:pointer;
    border:1px solid white;
    color:white;
}

.learn:hover{
    background-image:linear-gradient(to right, white, white);
    border:1px solid hsl(236, 72%, 79%);
    color:hsl(237, 63%, 64%);
}

.learn{
    background-image:linear-gradient(350deg, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    color:white;
}