*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background-color: hsl(240, 78%, 98%);
    background-image:url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    background-size:20%, 20%;
}

main{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4vh;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ' . headerr . '
    'leftt midle rightt'
    'leftt midle rightt'
    'leftt midle rightt';
    margin:0 22vh 2vh 22vh;
    strong{
        font-size:5vh;
        color:hsl(232, 13%, 33%);
    }
    span{
        color:hsl(232, 13%, 33%);
    }
    .dol{
        display:flex;
        align-items:center;
        justify-content: center;
        font-size: 325%;
        margin:0 -2vh 4vh 0;
    }
    hr{
        opacity:0.4;
        margin:2.5vh 9vh;
    }
    p{
        color:hsl(233, 13%, 49%);
    }
    h3{
        color:hsl(233, 13%, 49%);
        margin:3.5vh 0;
    }
    h1{
        color:hsl(233, 13%, 49%);
    }
    a{
        text-decoration: none;
        color:inherit;
    }
}

#header{ //ზედა ბარათი
    grid-area:headerr;
    display: flex;
    flex-direction: column;
    align-self:center;
        p{
            color:hsl(234, 14%, 74%);
        }
        #annual{
            display:flex;
            justify-content: center;
        }
}

#left{ // მარცხენა ბარათი
    grid-area:leftt;
    border-radius:2vh 0 0 2vh;
    background-color: white;
    margin:5vh 0;
}

#middle{ // შუა ბარათი
    grid-area:midle;
    background-image:linear-gradient(350deg, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    border-radius:2vh;
    p{
        color:hsl(240, 78%, 98%);
    }
    strong{
        color:white;
    }
    span{
        color:hsl(240, 78%, 98%);
    }
    h3{
        color:hsl(240, 78%, 98%);
        margin:6vh 0;
    }
}

#right{ // მარჯვენა ბარათი
    grid-area:rightt;
    border-radius:0 2vh 2vh 0;
    background-color: white;
    margin:5vh 0;
}