@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f6fe;
  background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, top left;
}

main {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
      grid-template-areas: ' . headerr . ' 'leftt midle rightt';
}

main span {
  font-size: 50px;
}

main hr {
  opacity: 0.4;
  margin: 0 2vh 0 2vh;
}

main p {
  color: #6d708d;
}

main span {
  color: #494c5f;
}

main h3 {
  color: #6d708d;
}

main h1 {
  color: #6d708d;
}

#header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: headerr;
}

#header p {
  color: #b3b5c6;
}

#header #annual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: leftt;
  border-radius: 2vh;
  background-color: white;
}

#middle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: midle;
  background-image: linear-gradient(350deg, #696fdd, #a3a8f0);
  border-radius: 2vh;
}

#middle p {
  color: #f6f6fe;
}

#middle span {
  color: #f6f6fe;
}

#middle h3 {
  color: #f6f6fe;
}

#right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: rightt;
  border-radius: 2vh;
  background-color: white;
}

.span2 {
  display: none;
}

button {
  border: none;
  border-radius: 1vh;
  color: #696fdd;
}

button:active {
  margin: 2vh 0 0 2vh;
}

button:hover {
  background-image: linear-gradient(350deg, #696fdd, #a3a8f0);
  cursor: pointer;
}

.learn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: linear-gradient(to right, white, white);
}

.learn {
  background-image: linear-gradient(350deg, #696fdd, #a3a8f0);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  bottom: 1vh;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 4vh 0 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded*/
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hide-num .span1 {
  display: none;
}

.hide-num .span2 {
  display: initial;
}
/*# sourceMappingURL=style.css.map */